<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-image {
            max-width: 100%;
            height: auto;
        }

        .product-card {
            margin-top: 60px;
        }

        .product-description {
            margin-top: 20px;
        }

        .price {
            color: #28a745; /* Bootstrap's success color */
        }
    </style>
</head>
<body>
<div class="container">

    <div class="card mb-3" style="width: 69.4rem;">

            <img th:src="${product.image}" class="card-img-top product-image" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${'Price: $' + product.price}">Price</h6>
                <p class="card-text" th:text="'Product ID: ' + ${product.id}">Product ID</p>
                <div class="product-description">
                    <h2>Description</h2>
                    <p class="card-text" th:text="${product.description}">Product Description</p>
                </div>
                <form th:action="@{/place-order(product-id=${product.id})}" method="post">
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>


    </div>

    <div class="text-center mt-4">
        <a href="/home" class="btn btn-primary">Go Back</a>
    </div>
</div>
</body>
</html>
